@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'Exo-Regular';
  src: url('./assets/fonts/Exo-Regular.ttf') format('ttf');
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo-Bold';
  src: url('./assets/fonts/Exo-Bold.ttf') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-white text-white font-exo-regular;
}

.placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6; /* Цвет фона размытой области */
  filter: blur(10px); /* Размытие */
}

.hidden {
  display: none; /* Скрываем изображение до загрузки */
}
