@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: 'Exo-Regular';
  src: url('./assets/fonts/Exo-Regular.ttf') format('ttf');
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Exo-Bold';
  src: url('./assets/fonts/Exo-Bold.ttf') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
}

body {
  @apply bg-white text-white font-exo-regular min-h-screen;
}

.imageWrapper {
  border-radius: 12px 0 0 12px;
}

.input-field {
  @apply bg-white text-sm px-[12px] py-[6px] border  border-solid rounded-xl focus:outline-none hover:border-[#66ff00];
}
